* { 
    padding: 0%; 
    margin: 0%; 
} 
 
body{ 
    font-family: inter, sans-serif;  
} 
.blue { 
    background-color: #1b54dd ; 
    color: white; 
    text-align: center; 
} 
.logo-wrapper { 
  display: flex; 
  justify-content: center; 
  padding: 5px 20px 30px 60px; 
}